# System files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Environment files
.env
.env.*

# Node / JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
coverage/

# Logs
*.log
